/* Ensure html and body take full height */
html,
body {
  height: 100%;
  margin: 0;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 71vh; /* Full viewport height */
  width: 100%; /* Full viewport width */
}

.chat-container > * {
  flex: 1;
}
