@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Share Tech Mono", monospace;
    font-size: 2.5rem;
}

body {
    min-height: 100vh;
    background-color: #000;
    color: whitesmoke;
    display: grid;
    place-content: center;
    padding: 1rem;
}

.form-container {
    margin-bottom: 20px;
}
input[type="text"] {
    padding: 10px;
    width: 300px;
    margin-right: 10px;
}
button {
    padding: 10px 15px;
    cursor: pointer;
}
#response {
    margin-top: 20px;
    padding: 10px;
    background-color: black;
}
