/* .problems-container {
  text-align: center;
  margin-top: 20px;
}

.header {
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.problems-paper {
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  width: 60%;
} */

/* .button {
  width: 100%;
  margin-bottom: 16px;
}

.typography {
  max-width: 100%;
} */
