/* 
Styles for App.js component
Put CSS here to style the elements in App.js
*/

/* 
This is for the h1 text at the top of each page
like "Problems", "About", etc. 
*/
* {
  margin: 0;
  padding: 0;

}

/* Apply global fonts: 
Fonts we imported from Google Fonts in `public/index.html`.
this changes font of links, footer links */
body {
  font-family: 'DM Sans', sans-serif;
}

/* this didnt change anything when removed:*/
html,
body {
  overflow-x: hidden;
} 

/* this changes the font of the header text */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter', sans-serif; /* this changes h1 and header text */
}